.emoji{

    justify-content:center;
    display: flex;
   width: 400px;
height: 25px;
    
}
button{
    height: 50px;
    margin-top: 300px;
   justify-content: center;
}
.img{
    height: 300px;
}
p{
    color: blue;
    text-align: right;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: 20pt;
}